.container {
  @extend %container;

  &--main,
  &--footer {
    @extend %container;
    @include mq(tablet-wide) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &--main {
    max-width: 1000px;
  }

  &--footer {
    align-items: center;
    @include mq(tablet-wide, max) {
      display: flex;
      flex-direction: column;
    }
  }
}
