$white: #ffffff;
$m-gray: rgb(209, 210, 211);
$m-blue: rgb(52, 155, 234);
$d-blue: darken($m-blue, 30%);
$coral-red: rgb(240,128,128);

$btn-background: $m-blue;
$msg-background: $coral-red;
$overlay-background: rgba($d-blue, .9);
$gray-text: $m-gray;
